body {
	color: navy;
	background: url("../images/IMG_7448.JPG");
	background-size: cover;
	font-family: Arial;	
}
h1	{
	font-size: 52px;
	font-family: Arial;
	font-style: italic;
	text-align: left;
}
nav a  {
	margin-right: 20px;
}
